extends layout

block content
  h1 Search for Movies

  form(action="/search", method="GET")
    input(type="text", name="q", placeholder="Search for a movie...")
    button(type="submit") Search

  // Resultados de API externa
  if filmsApi && filmsApi.length
    h2 External API Results
    .films-container
      each film in filmsApi
        .film
          h3= film.title
          img(src=film.poster, alt=film.title, width="150")
          p Year: #{film.year}
          p Director: #{film.director}
          p Genre: #{film.genre}
          p Runtime: #{film.runtime} min

          form(action="/favorites", method="POST")
            input(type="hidden", name="filmId", value=film.id)
            button(type="submit") Add to favorites

  // Resultados de MongoDB
  else if filmsMongo && filmsMongo.length
    h2 MongoDB Results
    .films-container
      each film in filmsMongo
        .film
          h3= film.title
          img(src=film.poster, alt=film.title, width="150")
          p Year: #{film.year}
          p Director: #{film.director}
          p Genre: #{film.genre}
          p Runtime: #{film.runtime} min

          form(action="/favorites", method="POST")
            input(type="hidden", name="filmId", value=film._id)
            button(type="submit") Add to favorites

  else if typeof filmsApi !== 'undefined' || typeof filmsMongo !== 'undefined'
    p No movies found.