extends layout

doctype html
html
  head
    title Search for Movies.
    link(rel="stylesheet", href="./public/styles.css")
  body
    include ./partials/menu  //menú hamburguesa

    h1 Search for Movies.

    form(action="/search", method="GET")
      input(type="text", name="q", placeholder="Search for a movie...")
      button(type="submit") Search.

    // Resultados de API externa
    if filmApi && filmsApi.length
      h2 Results.
      each films in filmsApi
        .films
          h3= film.title
          img(src=film.poster, alt=film.title, width="150")
          p Year: #{film.year}
          p Director: #{film.director}
          p Genre: #{film.genre}
          p Runtime: #{film.runtime} min

          form(action="/favorites", method="POST")
            input(type="hidden", name="filmId", value=film.id)
            button(type="submit") Add to favorites.

    // Resultados de MongoDB si la API no encontró nada
    else if filmsMongo && filmsMongo.length
      h2 Resutls Mongo DB (MongoDB)
      each movie in filmsMongo
        .film
          h3= film.title
          img(src=film.poster, alt=film.title, width="150")
          p Year: #{film.year}
          p Director: #{film.director}
          p Genre: #{film.genre}
          p Runtime: #{film.runtime} min

          form(action="/favorites", method="POST")
            input(type="hidden", name="filmId", value=film._id)
            button(type="submit") Add to favorites.

    else if typeof filmsApi !== 'undefined' || typeof filmsMongo !== 'undefined'
      p No movies found.